<div class="form-container-login">
  <h2>Welcome back</h2>
  <form class="login" action="/auth/login" method="POST">
  <div class="input-group">
    <input required="true" type="email" name="email" autocomplete="off" class="input">
    <label class="user-label">Email address</label>
  </div>
  <div class="input-group">
    <input required="true" type="password" name="password" autocomplete="off" class="input">
    <label class="user-label">Password</label>
  </div>
  <button type="submit" class="submit-btn">Login</button>
    {{#if error}}
      <div class="error-notice">
        <div class="oaerror danger">
          <strong>Error</strong> {{error}}
        </div>
      </div>
    {{/if}}
  </form>
  <div class="already-user-container">
    <a href="/auth/signup" class="link-text">Don't have an account? Sign up</a>
    <img src="https://i.imgur.com/PedNfwz.png" alt="" class="form-logo">
    <a href="/auth/passportLogin/federated/google" class="button-google">Sign in with Google</a>
  </div>
</div>