<div class="form-container-login">
  <h2>Welcome back</h2>
  <form class="login" action="/auth/login" method="POST">
  <div class="input-group">
    <input required="true" type="email" name="email" autocomplete="off" class="input">
    <label class="user-label">Email address</label>
  </div>
  <div class="input-group">
    <input required="true" type="password" name="password" autocomplete="off" class="input">
    <label class="user-label">Password</label>
  </div>
  <button type="submit" class="submit-btn">Login</button>
    {{#if error}}
      <div class="error-notice">
        <div class="oaerror danger">
          <strong>Error</strong> {{error}}
        </div>
      </div>
    {{/if}}
  </form>
  <div class="already-user-container">
    <br>OR</br>
    <a href="/auth/google" class="submit-btn-google"><img width="20px"src="https://avelhafabrica.es/wp-content/uploads/2019/01/new-google-favicon-512.png"> Google Login</a>
    <a href="/auth/signup" class="link-text">Don't have an account? Sign up</a>
    <img height="100px" src="/Images/minilogo.png" alt="devault-logo" />
  </div>
</div>