<h1>Welcome {{user.username}}</h1>
  <div class="profile-container">
    <img src="https://www.arlis.umd.edu/sites/default/files/default_images/avatardefault_92824.png" class="user-avatar">
    <p>Email: {{user.email}}</p>
    <a href="/tools/myTools">My Tools</a>
    <a href="/lists">My Library</a>
    <a href="/profile/edit">Edit profile</a> 
    <a href="/profile/delete">Delete profile</a> 
    <a href="/auth/logout">Logout</a>
  </div>
