<nav id="nav-bar" class="scrolled">
  <a href="/profile"><h2><i class='bx bx-chevron-left back__icon'></i>Edit Profile</h2></a>
</nav>
<div class="form-container-lists">
  <img src={{image}} class="personal-avatar" alt="avatar">
  <form class="list" method="POST" action="/profile/edit">
    <div class="input-group">
      <input type="text" name="username" required="true" value="{{username}}" autocomplete="off" class="input"/>
      <label class="user-label">New username</label>
    </div>
    <div class="input-group">
      <input type="text" name="email" required="true" value="{{email}}" autocomplete="off" class="input"/>
      <label class="user-label">New email</label>
    </div>
    <button type="submit"class="submit-btn">Save</button>
  </form>
</div>
