<h1>Welcome {{user.username}}</h1>
<div>
  <div>
    <img src="https://www.ccd.edu/sites/default/files/PhotoAvatar.jpg" class="user-avatar">
  </div>
  <div class="profile-container">
    <h1>{{user.username}}</h1>
    <p>Email: {{user.email}}</p>
    <a href="/profile/edit">Edit profile</a> 
    <a href="/auth/logout">Logout</a>
    <a href="/"> â† Go back {{user.username}}</a>
  </div>
</div>