<div class="form-container-login">
  <h1>{{ username }}'s Profile</h1>
  <form class="login" method="POST" action="/profile/edit">
    <div class="input-group">
      <input type="text" name="username" required="true" value="{{username}}" autocomplete="off" class="input"/>
      <label class="user-label">New username</label>
    </div>
    <div class="input-group">
      <input type="text" name="email" required="true" value="{{email}}" autocomplete="off" class="input"/>
      <label class="user-label">New email</label>
    </div>
    <button type="submit"class="submit-btn">Save</button>
  </form>
</div>
