<h1>Welcome {{ username }}</h1>
<div>
  <div>
    <img src="https://www.ccd.edu/sites/default/files/PhotoAvatar.jpg">
  </div>
  <div>
    <h1 {{username}}</h1>
    <p>Email: {{email}}</p>
    <a href="/profile/edit">Edit profile</a> 
    <a href="/auth/logout">Logout</a>
  </div>
</div>