<div class="form-container-lists">
<h1>{{user.username}}'s Library</h1>
<p>Here you can create lists and manage your favourites. You can remove them from your favourites by clicking the bookmark icon.</p>

<div class="cards-wrapped-container">
  {{#each lists}}
    {{>listCard this}}
  {{/each}}
</div>
</div>

