<div class="form-container-login">
  <h1>Editing {{list.listName}}</h1>
  <form  class="login" action="/lists/{{list.id}}/edit" method="POST">
    <div class="input-group">
      <input required type="text" name="listName" value="{{list.listName}}" autocomplete="off" class="input"/>
      <label class="user-label">List Name</label>
    </div>
    <div class="input-group">
      <input required type="text" name="image" value="{{list.image}}" autocomplete="off" class="input"/>
      <label class="user-label">List Cover</label>
    </div>
    <button type="submit" class="submit-btn">Save</button>
  </form>
</div>