<nav id="nav-bar" class="scrolled">
  <a href="/lists"><h2><i class='bx bx-chevron-left back__icon'></i>Edit List</h2></a>
</nav>
<div class="form-container-list">
  <form  class="list" action="/lists/{{list._id}}/edit" method="POST" enctype="multipart/form-data">
    <div class="input-group">
      <input required type="text" name="listName" value="{{list.listName}}" autocomplete="off" class="input"/>
      <label class="user-label">List Name</label>
    </div>
    <div class="input-group">
      <input required type="text" name="image" value="{{list.image}}" autocomplete="off" class="input"/>
      <label class="user-label">List Cover</label>
    </div>
    <button type="submit" class="submit-btn">Save</button>
  </form>
</div>