<div class="card-container" id="{{_id}}">
  <div class="tool-header">
    <div class="tool-header-content">
      <h4 class="tool-name">{{tool}}</h4>
    </div>
  </div>
  <div class="tool-description-box">
    <p>Created by: {{user}} </p>  
    <div class="tool-link">
      <a class="submit-btn-small" href="/tools/{{_id}}">View details</a>
    </div>
  </div> 
</div>