<div class="random-card" id="{{_id}}">
  <div class="random-img">
    <img width="50px" src="https://i.imgur.com/PedNfwz.png" alt={{name}}/>
  </div>
  <div class="random-textBox">
    <div class="random-textContent">
      <p class="random-h1">{{name}}</p>
      <a class="random-span"href="/tools/{{_id}}">View details</a>
    </div>
  <div>
</div>
</div>
</div>
