<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/stylesheets/style.css' rel="stylesheet"/>
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <title>devault</title>
  <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/PedNfwz.png">
</head>
<body>
  <nav id="nav-menu">
    <ul class="nav__list">
      {{#if user}}
      <li class="nav__item">
        <a href="/" class="nav__link active-link">
          <i class='bx bx-home-alt-2 nav__icon' ></i>
          <span class="nav__name">Home</span>
        </a>
      </li>
        <li class="nav__item">
        <a href="/" class="nav__link active-link">
          <i class='bx bx-search nav__icon'></i>
          <span class="nav__name">Search</span>
        </a>
      </li>
      
      <li class="nav__item">
        <a href="/tools/new" class="nav__link active-link">
          <i class='bx bx-plus-medical nav__icon' id="addbtn"></i>
          <span class="nav__name">Add</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="/lists" class="nav__link active-link">
          <i class='bx bx-bookmark-heart nav__icon'></i>
          <span class="nav__name">Favs</span>
        </a>
      </li>
       <li>
        <a href="/profile" class="navbarlogo">
          <i class='bx bx-cog nav__icon'></i>
        </a>
      </li>
      
     
      {{else}}    
      <li class="nav__item">
        <a href="/" class="nav__link active-link">
          <i class='bx bx-home-alt-2 nav__icon' ></i>
          <span class="nav__name">Home</span>
        </a>
      </li>
<li class="nav__item">
        <a href="/" class="nav__link active-link">
          <i class='bx bx-search nav__icon'></i>
          <span class="nav__name">Search</span>
        </a>
      </li>
      
      <li class="nav__item">
        <a href="/tools/new" class="nav__link active-link">
          <i class='bx bx-plus-medical nav__icon' id="addbtn"></i>
          <span class="nav__name">Add</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="/favs/favsList" class="nav__link active-link">
          <i class='bx bx-bookmark-heart nav__icon'></i>
          <span class="nav__name">Favs</span>
        </a>
      </li>
       <li class="nav__item">
        <a href="/auth/login" class="nav__link active-link">
          <i class='bx bx-log-in-circle nav__icon' ></i>
          <span class="nav__name">Login!</span>
        </a>
      </li>
      {{/if}}
    </ul>
  </nav>
    {{{ body }}}
    <script>
      const navBar = document.getElementById('navBar');
      window.onscroll = function(){
        if (window.scrollY >22){
          navBar.classList.add('scrolled')
        }else{
          navBar.classList.remove('scrolled')
        }
      }
    </script>
</body>
</html>