<nav id="nav-bar" class="scrolled">
  <a href="/profile"><h2><i class='bx bx-chevron-left back__icon'></i>My Tools</h2></a>
</nav>
<div class="form-container-lists">
<p>Here you can create tools and allow other users to benefit from it. You can remove them by clicking the delete button.</p>
<a href="/tools/new" id="edit-tool-btn">Create New Tool</a>
    {{#if tools}}
    <div class="cards-wrapped-container">
      {{#each tools}}
        {{>toolCard this}}
      {{/each}}
    </div>
    {{else}}
      <div>
        <img height="350" src="/Images/folder-is-empty-4064360-3363921.png" alt="not-found" />
      </div>
        <h2>Oops! No Tools</h2>
    {{/if}}
</div>