<h1>Create a new Tool!</h1>

<div class="form-container">
  <h2>New Tool</h2>

<form method="POST" action="/tools/new">
  <label>What's the tool's name?</label>
  <input required type="text" name="name" placeholder="chat.openai.com"/>
  <label>What's about?</label>
  <textarea required name="description"></textarea>
  <label>Sounds good! Link us to it!</label>
  <input required type="text" name="name" placeholder="paste their page here!"/>
  <label>Give us a cool image link!</label>
  <input required type="text" name="image" placeholder="https...//"/>
    <label for="field">Which field suits it better?:</label>
   <select name="field" multiple>
        {{#each fields}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
     <label for="field">Pick at least 3 tags:</label>
   <select name="field" multiple>
        {{#each tags}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
  <button type="submit">Add to the vault!</button>
</form>
    <img src="https://i.imgur.com/zJugYwi.png" alt="" class="form-logo">
</div>