<nav id="nav-bar" class="scrolled">
  <a href="/"><h2><i class='bx bx-chevron-left back__icon'></i>Add New Tool</h2></a>
</nav>
<div class="form-container-lists">
  <form  class="login" action="/tools/new" method="POST" enctype="multipart/form-data">
    <div class="input-group">
      <input required type="text" name="name" placeholder="chat.openai.com" autocomplete="off" class="input"/>
      <label class="user-label">Tool Name</label>
    </div>
    <div class="input-group">
      <input required type="textarea" name="description" placeholder="This tool is about..." autocomplete="off" class="input"></input>
      <label class="user-label">Tool Description</label>
    </div>
    <div class="input-group">
      <input required type="text" name="url" placeholder="https://website" autocomplete="off" class="input"/>
      <label class="user-label">Tool Website</label>
    </div>
    <div class="input-group">
      <p class="tag-label">Select a tool image</p>
      <input id="file-upload" type="file" name="imageFile" accept="image/jpeg, image/png, image/jpg">
    </div> 
    <div class="input-group">
      <p class="tag-label">Select a category</p>
      <select id="field" name="field" autocomplete="off" class="input">
        <option selected="true" disabled="disabled">Select</option>  
        <option value="UX/UI">UX/UI</option>
        <option value="Front End">Front End</option>
        <option value="Data Science">Data Science</option>
        <option value="Task Management">Task Management</option>
        <option value="Mobile">Mobile</option>
        <option value="Cloud Computing">Cloud Computing</option>
        <option value="DevOps">DevOps</option>
        <option value="Cyber Security">Cyber Security</option>
        <option value="Machine Learning">Machine Learning</option>
        <option value="Other">Other</option>
        <option value="Blockchain">Blockchain</option>
      </select>
    </div>
    <div class="input-group">
      <p class="tag-label">Pick at least 3 tags</p>
      <select multiple id="tag" class="scroll" name="tag" autocomplete="off" class="input">
        <option value="AI powered">AI powered</option>
        <option value="Open Source">Open Source</option>
        <option value="Color Theory">Color Theory</option>
        <option value="3D">3D</option>
        <option value="Code Assistant">Code Assistant</option>
        <option value="Investment">Investment</option>
        <option value="Story teller">Story teller</option>
        <option value="Text processer">Text processer</option>
        <option value="CSS3">CSS3</option>
        <option value="HTML">HTML</option>
        <option value="Javascript">Javascript</option>
        <option value="Python">Python</option>
        <option value="Educational">Educational</option>
        <option value="Learning Resources">Learning Resources</option>
        <option value="Documentation">Documentation</option>
        <option value="Productivity">Productivity</option>
        <option value="Presentations">Presentations</option>
        <option value="Low-Code/No-Code">Low-Code/No-Code</option>
        <option value="Inspiration">Inspiration</option>
        <option value="Community">Community</option>
        <option value="Graphic design">Graphic design</option>
      </select>
    </div>  
    <button type="submit" class="submit-btn" >Add to deVault</button>
  </form>
</div>