<h1 class="boujee-text" id="discover-header">Discover.</h1>

<div class="advanced-search-container">
<form action="/tools/finesearch" method="post">
  <fieldset>
    <legend>What are you looking for?:</legend>
    <div class="advanced-search-bar-container">
    <div>
      <label for="search">Search:</label>
      <input type="text" id="search" name="search">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
    </div>
    <div class="advanced-search-main-container">
      <div class="advanced-search-fiedlandtag-container">
      <div>
      <label for="field">Field:</label>
      <select id="field" name="field">
         <option value="">Select Field</option>
        {{#each field}}
      <option value="{{this}}">{{this}}</option>
  {{/each}} 
      </select>
    </div>
    <div>
      <label for="tags">Tags:</label>
     <select id="tad-select" name="tag" multiple>
         <option value="">Select tags</option>
       {{#each tag}}
      <option value="{{this}}">{{this}}</option>
  {{/each}} 
      </select>
    </div>
    </div>
    <div class="advanced-search-time-container">
      <label for="time">Upload:</label>
     <select id="time" name="time">
         <option value="">Uploaded:</option>
      <option value="today">today</option>
      <option value="last-week">Last week</option>
      <option value="last-month">Last month</option>
      <option value="last-sixth-months">Last six months</option>
      </select>
      </div>
    </div>
  </fieldset>
</form>
</div>
<div class="discover-field-card-grid">
  <a href="tools/search/Back End">
  <div class="discover-field-card ">
    <div class="discover-field-card-content back-end">
      <p>Back End</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Front End">
  <div class="discover-field-card">
    <div class="discover-field-card-content front-end">
      <p>Front End</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Data Science">
  <div class="discover-field-card">
    <div class="discover-field-card-content  data-science">
      <p>Data Science</p>
    </div>
  </div>
  </a>
  <a href="tools/search/UX UI">
  <div class="discover-field-card ">
    <div class="discover-field-card-content ux-ui">
      <p>UX/UI</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Blockchain">
  <div class="discover-field-card ">
    <div class="discover-field-card-content blockchain">
      <p>Block-chain</p>
    </div>
  </div>
  </a>
   <a href="tools/search/Other">
  <div class="discover-field-card productivity">
    <div class="discover-field-card-content">
      <p>Other</p>
    </div>
  </div>
  </a>
    <a href="tools/search/Task Management">
  <div class="discover-field-card task-management">
    <div class="discover-field-card-content">
      <p>Task Management</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Cyber Security">
  <div class="discover-field-card ">
    <div class="discover-field-card-content cyber-security">
      <p>Cyber Security</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Mobile">
  <div class="discover-field-card ">
    <div class="discover-field-card-content mobile-development">
      <p>Mobile</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Cloud Computing">
  <div class="discover-field-card ">
    <div class="discover-field-card-content cloud-computing">
      <p>Cloud Computing</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Machine Learning">
  <div class="discover-field-card ">
    <div class="discover-field-card-content ai-machine-learning">
      <p>AI/Machine Learning</p>
    </div>
  </div>
  </a>
  <a href="tools/search/DevOps">
  <div class="discover-field-card ">
    <div class="discover-field-card-content devops">
      <p>DevOps</p>
    </div>
  </div>
  </a>
</div>