<div class="advanced-search-container">
<form action="/tools/finesearch" method="post">
  <fieldset>
    <legend>What you looking for?:</legend>
    <div>
      <label for="search">Search:</label>
      <input type="text" id="search" name="search">
    </div>
    <div>
      <label for="field">Field:</label>
      <select id="field" name="field">
         <option value="">Select Field</option>
        {{#each field}}
      <option value="{{this}}">{{this}}</option>
  {{/each}} 
      </select>
    </div>
    <div>
      <label for="tags">Tags:</label>
     <select id="tad-select" name="tag" multiple>
         <option value="">Select tags</option>
       {{#each tag}}
      <option value="{{this}}">{{this}}</option>
  {{/each}} 
      </select>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </fieldset>
</form>

<div class="discover-field-card-grid">
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>Back End</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>Front End</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>Data Science</p>
    </div>
  </div>
<div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>UX/UI</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>Block-chain</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>Productivity</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>Task Management</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>Cyber Security</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>Mobile Development</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>Cloud Computing</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>AI/Machine Learning</p>
    </div>
  </div>
  <div class="discover-field-card">
    <div class="discover-field-card-content">
      <p>DevOps</p>
    </div>
  </div>
</div>

