/* BASELINE FOR THE WHOLE DOCUMENT  */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: var(--primary-white);
  color:var(--primary-black);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--primary-white);
  margin-top: 100px;
  display: flex ;
  flex-direction:column;
  align-items: center;
}

/* color variables for the app */

:root {
  --primary-purple-light: #b6a3cc;
  --primary-purlple-dark: #5e279f;
  --primary-white: #fafafa;
  --primary-black: #252323;
}
                    /* NAV BAR STYLES */
nav{
  width: 100vw;
  height: 10vh;
  background-color: --primary-white;
  display: flex;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  z-index: 9999;
}
nav.scrolled{
  box-shadow: 0px 10px 15px -11px #b6a3cc;
}
 nav ul li a {
  transition: ease-out 0.2s;
  font-size: 2vh;
  text-decoration: none;
  color: var(--primary-black);
  font-weight: 400;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-right:10px;
}

nav ul li {
  margin-left: 3.1vh;
  text-align: center;
}
.navbarlogo{
  max-width: 40px;
}

.navbarlogo:active{
  transform: scale(1.1);
}

                          /* FORM STYLES */
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form-logo{
  width: clamp(50px,50%,400px);
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90vw;
  margin-top:30px;
  justify-content: space-evenly;
}
form>*{
  padding:10px;
  border-radius: 10px;
}
form>label{
  text-align: center;
}
/* SUBMIT BUTTONS */
.submit-btn {
  width:90%;
align-self: center;
  margin: 30px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--primary-purlple-dark);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid  var(--primary-purlple-dark);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-purlple-dark);
}
.submit-btn:active {
  transform: scale(0.5);
}
.submit-btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0  var(--primary-purlple-dark);
}

/* INPUT STYLING */
input:focus{
  border-color: var(--primary-purple-light);
}
input{
  border-color: var(--primary-purple-light);
}
input[required]:before {
  content:"*";
  color:rgb(165, 9, 9);
}
                  /* USER PROFILE STYLING */
.profile-container{
  padding-top: 30px;
  padding:0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
       }   
     
.user-avatar{
  width: clamp(50px,30%,400px);
}

.profile-container a {
  width:90%;
align-self: center;
  padding: 15px 30px;
  text-align: center;
  /* font-size: 18px; */
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--primary-purlple-dark);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid  var(--primary-purlple-dark);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-purlple-dark);
}

.profile-container a:active {
  transform: scale(0.5);
}
.profile-container a:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0  var(--primary-purlple-dark);
}
#vault-btn{
  color: #fafafa;
  background: rgb(182,163,204);
background: radial-gradient(circle, rgba(182,163,204,1) 0%, rgba(94,39,159,1) 100%);
}

                          /* EDIT PROFILE STYLES */

.edit-profile-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  gap:30px;
  height: 70vh;
}                          