
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* BASELINE FOR THE WHOLE DOCUMENT  */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'DM sans', sans-serif;
}

body {
  background-color: var(--primary-gray);
  margin-bottom: 100px;
  display: flex ;
  flex-direction:column;
  align-items: center;
}

h1, h2, h3, h4 {
  color: var(--seconday-color);
}

li a {
  text-decoration: none !important;
}


/* APP COLOR VARIABLES */
:root {
  --primary-color: #0ea5e9;
  --seconday-color: #044593;
  --primary-purple-light: #b6a3cc;
  --primary-purlple-dark: #441b72;
  --primary-white: #fafafa;
  --primary-gray: #f7f7f7;
  --primary-black: #252323;
  --secondary-black:#3a3a3a;
  --primary-red: rgb(225, 144, 144);
  --error-red: #db433e;
  --tiny-font-size: .625rem;
  --bkg-color:var(--primary-white);
  --text-color:var(--primary-black);
  --main-gap:20px;
  --primary-border-color: #d3d2d2;
}

/* DARK MODE BUTTON */
body {
  background-color: var(--bkg-color);
  margin-bottom: 100px;
  display: flex ;
  flex-direction:column;
  align-items: center;
  color:var(--text-color);
  padding: 0px 5%;
  
}

body, div, p, span, h1, h2, h3, h4, h5, h6 {
  --text-color: var(--text-color);
  --bkg-color: var(--primary-gray);
}
.nav.light-theme, .btn.light-theme, .card-container.light-theme {
  --text-color: var(--text-color);
  --bkg-color: var(--primary-gray);
}


bx bx-bookmark-heart nav__icon-white, bx bx-link-external nav__icon-white {
  color: var(--primary-white);
}

.scroll__icon_left {
  font-size: 29.5px;
  font-weight: lighter;
  color: #808080;
  margin-left: -15px;
  text-decoration: none;
}

.scroll__icon_right {
  font-size: 29.5px;
  font-weight: lighter;
  color: #808080;
  margin-right: -15px;
  text-decoration: none;
}

/* DEFAULTS DARK THEME */
@media (prefers-color-scheme: dark) {
  
  
  body.light-theme {
    --text-color: var(--primary-black);
    --bkg-color: var(--primary-gray);
  }
  .light-theme .nav, .light-theme .btn, .light-theme .card-container  {
    --text-color: var(--primary-black);
    --bkg-color: var(--primary-gray);
  }
}

.btn-toggle{
  border: none;
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 10px;
  opacity: 0.5;
}

li a {
  text-decoration: none !important;
}

/* HEADER STYLING */
header{
  width:100vw;
  display: flex;
  flex-direction:column;
  align-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}
header h1 {
  text-decoration: underline;
  letter-spacing: 1px;
  max-width: 90%;
  margin-top: 20px;
  font-size: 3rem;
  --bg-size: 400%;
  --color-one:var(--primary-color);
  --color-two: #81c7e8;;
  font-family: 'Press Start 2P', cursive;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 26s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 19s linear infinite;
    
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
.search-page-header,header h2{
  font-size: 1.2rem;
  max-width: 80%;
  font-weight: 200;
  color:var(--primary-black)
}

/* NAV BAR STYLES */
nav {
  width: 100%;
  height: 8vh;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  z-index: 9999;
  background-color: var(--primary-gray);
  border-top: 0.1px solid #0040851a;
}

.nav-logo {
  display: none;
}

#nav-menu,#nav-bar{
  background-color: var(--primary-white);
  z-index: 999;
}

.nav__name {
  display: none;
}

.nav__list, 
.nav__link {
  display: flex;
  width:100%;
  
}

.nav__link_go {
  display: none;
  font-size: 15px;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__link:active {
  transform: scale(1.5);
}

.nav__list {
  justify-content: space-around;
  list-style-type: none;
  margin:0;
  align-items: center;
}

.nav__name {
  font-size: var(--tiny-font-size);
  color: var(--seconday-color);
  text-decoration: none;}
  
.nav__icon {
  font-size: 2rem;
  font-weight: lighter;
  color: var(--seconday-color);
  text-decoration: none;
}

.nav__icon_plus {
  font-size: 3rem;
  font-weight: lighter;
  color: var(--seconday-color);
  text-decoration: none;
}

.back__icon {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--seconday-color);
  text-decoration: none;
}

.back__icon:hover {
  text-decoration:none;
}

.nav__icon:hover, .nav__icon:active{
  color: var(--seconday-color)
}

.list__icon {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--seconday-color);
  text-decoration: none;
}

/*Active link for DOM manipulation*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}
  
.scroll-component {
  display: flex;
}

 nav.scrolled {
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.35);
}


/* HOME PAGE STYLES */

#index-form{
  width:clamp(100px,90vw,1200px);
  text-align: center;
}

/* MAIN SEARCH */
.group-search {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 100%;
 }
 
 .input-search {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 1.2px solid #d1d4d7;
  border-radius: 8px;
  outline: none;
  background-color: var(--primary-white);
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input-search::placeholder {
  color: #9e9ea7;
 }
 
 .input-search:focus, input:hover {
  outline: none;
  border-color: rgba(76, 121, 234, 0.677);
  background-color: var(--primary-white);
  box-shadow: 0 0 0 4px rgba(83, 155, 233, 0.269);
 }
 
 .icon-search {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }

/* .small-search-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  margin: 0 !important;
  padding: 0;

}

.small-search-input {
  font-family: 'DM sans';
  padding: 10px 20px;
  border-top-right-radius: 20px;
  border: 1px solid var(--primary-border-color);
  border-bottom-right-radius: 0px;
  color: var(--primary-black);
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--primary-white);
  width: 100%;
  height: 40px;
}

.small-search-input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

.small-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9.3px 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0px;
  outline: none;
  background: #2020;
  border: none;
  background:  #0ea5e9;
  transition: .3s ease;
  height: 40px;
}

.small-search-btn:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 100);
} */

/* SCROLL MENU */

div.scrollmenu {
  background-color:transparent;
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a {
  display: inline-block;
  padding:0 10px;
	height: 2em;
	line-height: 2em;
	background-color: #fff;
	border: 1px solid var(--seconday-color);
	border-radius: 999px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--seconday-color);
	font-size: 15px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
div.scrollmenu a:hover {
  background-color: var(--seconday-color);
  color: var(--primary-white);
}
/* FORM STYLES */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  max-width: 80%;
}

.form-container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  width:100%;
  margin-top: 40px;
 padding-bottom: 50px;
}

.form-container-lists {
  width:90vw;
  height: auto;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.form-container-lists:last-child{
  margin-bottom: 100px;
}
.list-card-container {
  margin-top: 15px;
  width: 300px;
}

.form-container-lists-detail {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container-lists > p {
  text-align: center;
}

.form-logo {
  width: clamp(50px,30%,400px);
  bottom: 100px;
  opacity: 0.7;
  margin-top: 70px;
}


/* added .login class to have it only for login and not signup */
form.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
}

form.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
  margin-top: 50px;
}

form > * {
  padding:10px;
  border-radius: 10px;
}

form > label {
  text-align: center;
}
.link-text{
  opacity: 0.5;
}
.link-text:active{
  opacity: 1;
  transform: scale(0.7)
}

.already-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

/* ERRORS */
.error-notice{
  margin:5px; /* Make sure to keep some distance from all sides */
}

.oaerror{
  width:80%;
  background-color: var(--primary-white);
  padding:20px;
  border:1px solid #eee;
  border-left-width:5px;
  border-radius: 3px;
  margin:10px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.danger{
  border-left-color: var(--error-red);
  background-color: rgba(217, 83, 79, 0.1); 
}

.danger strong {
  color: var(--error-red);
  background-color: rgba(217, 84, 79, 0);
}

/* SUBMIT BUTTONS */
.submit-btn {
  width: 95%;
  align-self: center;
  margin: 30px 0px 7px 0px;
  padding: 15px 30px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--seconday-color);
  background: #0000;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--seconday-color);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-color);
}

.submit-btn-google {
  width: 100%;
  align-self: center;
  margin: 30px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--seconday-color);
  background: #0000;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--seconday-color);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-color);
}

.submit-btn:active {
  transform: scale(0.5);
}
.submit-btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0  var(--seconday-color);
}

.submit-btn-small {
  width:90%;
  align-self: center;
  margin: 0px 35px;
  margin-bottom: 20px;
  padding: 5px 5px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--seconday-color);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid  var(--seconday-color);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-color);
}

.submit-btn-small:active {
  transform: scale(0.5);
}

.submit-btn-small:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0  var(--seconday-color);
}

/* INPUT STYLING */
 /* added .input-old class so that new style doesn't affect signup form */
input.input-old:focus {
  border-color: var(--seconday-color);
}

input.input-old {
  border-color: var(--seconday-color);
  border-width: 1px;
}

input.input-old[required]:before {
  content:"*";
  color:rgb(165, 9, 9);
}

/* INPUT LOGIN FORM V2 */
.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
 }
 
 .input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: var(--seconday-color);
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
 }

 .input::placeholder {
  opacity: 0; outline: 0; border: 0;
 }
 
 .user-label {
  position: absolute;
  left: 30px;
  color: var(--seconday-color);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
 }

 p.tag-label {
  color: var(--seconday-color);
  margin-bottom: 10px;
  margin-left: 10px;
 }

 select#tag {
  border-radius: 1rem;
 }

 select#tag > option {
  margin-left: 10px;
  margin-top: 5px;
  color: var(--seconday-color);
 }

 select[multiple]:focus option:checked {
  background: #0ea4e99f;
  font-weight: bold;
  }
 
 /* added .input class so that new style doesn't affect signup form */

input::file-selector-button {
  color: var(--seconday-color);
  background-color: var(--primary-white);
  padding: 0.3em;
  border: thin solid var(--seconday-color);
  border-radius: 0.8rem;
}

input#file-upload {
  color: var(--seconday-color);
}

 .input:focus, input.input:valid {
  outline: none;
  border: 1.5px solid var(--seconday-color);
 }

 .input:focus::placeholder {
  opacity: 1; outline: 1; border: 1;
 }
 
 .input:focus ~ label, input.input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--primary-white);
  padding: 0 .2em;
  color: var(--seconday-color);
 }


/* USER PROFILE PAGE STYLING */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75vh;
  margin-top: 60px;
}   
     
.user-avatar {
  width: clamp(50px,30%,400px);
}

.profile-container a {
  width:90%;
  align-self: center;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--seconday-color);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid  var(--seconday-color);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-color);
}

.profile-container a:active {
  transform: scale(0.5);
}

.profile-container a:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0  var(--seconday-color);
}

#vault-btn {
  color: #fafafa;
  background: rgb(182,163,204);
  background: radial-gradient(circle, rgba(182,163,204,1) 0%, rgba(94,39,159,1) 100%);
}

/* EDIT PROFILE STYLES */
.edit-profile-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  gap:30px;
  height: 70vh;
}                     

/* CARD DETAIL NEW STYLES */
.card-detail-container-wrap{
  width:90vw;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 15%;
}

.card-detail-container {
  width: 100%;
}

.card-detail-container > h2 {
  padding: 0px 20px 0px 20px;
  margin-bottom: 0px;
  font-size: 15px;
}

.card-detail-header {
  flex-direction: column;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 20px;
}

.card-detail-header-title {
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 16px;
}
.card-detail-header-title > h1 {
  margin: 0;
  font-family: 'DM Sans',sans-serif;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.235;
  font-weight: 600;
  margin-right: 8px;
}

.card-detail-header-buttons {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 5px;
  width: 100%;
  margin-top: 0px;
}

.card-detail-header-buttons-link {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.card-detail-header-buttons-link > a {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: #0000;
    outline: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    width: 100%;
    padding: 5px 9px;
    border-radius: 4px;
    color: #000000de;
    background-color: #0ea5e9;
    box-shadow: none;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
}

.card-detail-header-buttons-link-favs {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #0000;
  background-color: #0000;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 15px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid #0ea5e980;
  color: #0ea5e9;
  box-shadow: none;
  width: 49%;
}

.card-detail-content {
  padding:10px;
}

.card-detail-content-img {
  background-color: var(--primary-gray);
  border: var(--primary-gray) solid 2px;
  border-radius: 15px;
}

.card-detail-content-img > a > img {
  width: fit-content;
  max-width: 100%;
  border-radius: 13px;
}

.card-detail-content-description {
  margin: 20px 0px;
  text-align: justify;
}

.card-detail-content-description > p {
  margin-top: 0;
  text-align: left;
}

.card-detail-content-edit-delete > span {
    display: flex;
    width: 100%;
    gap: 10px;
}
div.card-detail-fieldtag-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
}
div.card-detail-fieldtag-container a {
 max-width: 25%;
  padding:0 5px;
	height: 2em;
	line-height: 2em;
	background-color: #fff;
	border: 1px solid var(--seconday-color);
	border-radius: 999px;
	white-space: nowrap;
	color: var(--seconday-color);
	font-size: 15px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
  overflow: hidden;
  text-align: center;
}
div.card-detail-fieldtag-container a:hover,div.card-detail-fieldtag-container a:active {
  background-color: var(--seconday-color);
  transform: scale(1.1);
}
div.card-detail-fieldtag-container .tagBubble:active,div.card-detail-fieldtag-container .tagBubble:hover {
  background-color: var(--seconday-color);
  transform: scale(1.1);
  color: var(--primary-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
div.card-detail-fieldtag-container a.Back,.BackBkg {
  background: linear-gradient(to right, var(--primary-color), #4c58c6);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.Front,.FrontBkg {
  background: linear-gradient(to right, var(--primary-color), #4c58c6);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.Data,.DataBkg {
  background: linear-gradient(to right, rgb(107, 220, 32), #1a9a5e);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.UX,.UXBkg {
  background: linear-gradient(to right, rgb(196, 98, 224), #6b127f);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.Blockchain {
  background: linear-gradient(to right, rgb(189, 189, 189), #d29e9e);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.Productivity,.ProductivityBkg {
  background: linear-gradient(to right, rgb(55, 240, 209), #1f8e8c);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.Task,.TaskBkg {
  background: linear-gradient(to right, rgb(224, 204, 113), #fe483e);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.Cyber,.CyberBkg  {
  background: linear-gradient(to right, rgb(225, 147, 236), #be18c6);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.Mobile,.MobileBkg {
  background: linear-gradient(to right, rgb(253, 161, 24), #ebbf73);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.Cloud ,.CloudBkg{
  background: linear-gradient(to right, rgb(129, 206, 230), #4646ca);
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.Machine,.MachineBkg {
  background: linear-gradient(to right, #9ad26c, rgb(23, 187, 2));
  border: 0;
  color:var(--primary-white)
}
div.card-detail-fieldtag-container a.DevOps,.DevOpsBkg {
  background: linear-gradient(to right, rgb(101, 227, 204), #05974e);
  border: 0;
  color:var(--primary-white)
}
.card-detail-content-description-uploader {
  margin-bottom: 0px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.card-detail-uploader-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-detail-uploader-wrapper>*{
  margin:0;
}
.card-detail-uploader-info{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  align-items: flex-end;
}
.card-detail-uploader-wrapper>.card-detail-uploader-info{
  align-items: flex-start;
}
.card-detail-uploader-info>*{
  margin:0;
  padding:0;
}
.card-uploader-time{
  opacity: 0.5;
  font-size: smaller;
}
.card-detail-content-description-uploader>h5>.bxs-star{
  font-size: 1.4rem;
  color: var(--primary-color);
}
.card-detail-content-description-uploader>h5>{
  align-items: center;
}
.rating-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 20px 0;
}
.rating-submit-btn{
  align-self: center;
  padding: 3px 7px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--primary-color);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid  var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-color);
}
.rating-submit-btn:active{
  transform: scale(1.5);
}
.rating-form{
  margin: 0;
}
.card-detail-comment-box-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--main-gap);
  width: 100%;
}

.card-detail-comment-box-container button{
  padding: 3px 7px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--primary-color);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid  var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-color);
}
.card-detail-comment-box-container button:active{
  transform: scale(1.5);
}
.card-detail-comment-box-container textarea{
  width: 100%;
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  padding-left: 5px;
  height: 90px;
}
.user-review-container-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.linkz {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
}
.linkz>a>*{
  font-size: 1.5rem;
}
.user-review-container{
  border-bottom:1px solid var(--primary-border-color);
  margin-bottom: 10px;
  padding-bottom: 5px;
  justify-content: flex-end;
}
.user-review-content-container{
  /* border:1px solid  var(--primary-color);
  border-radius: 12px;
  border-bottom-right-radius: 0px;
  padding: 5px;
  margin-right: 14px; */
  position: relative;
	background-color:#d0edfb ;
	border-radius: .4em;
  padding: 5px;
  margin-bottom: 15px;
}
.user-review-content-container:after{
  
  content: '';
	position: absolute;
	bottom: 0;
	left: 90%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top-color: #d0edfb ;
	border-bottom: 0;
	margin-left: -13px;
	margin-bottom: -13px;
 
}
.user-review-content-container>*{
  margin: 0;
}
.user-review-content-container p::before {
  content: "“"; /* Unicode character for opening quotation mark */
  font-size: 1.5rem; /* Adjust font size as desired */
  margin-right: 0.5rem; /* Adjust spacing as desired */
}

.user-review-content-container p::after {
  content: "”"; /* Unicode character for closing quotation mark */
  font-size: 1.5rem; /* Adjust font size as desired */
  margin-left: 0.5rem; /* Adjust spacing as desired */
}
.bottom-review-container{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
.user-review-user-container{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  gap: 5px;
}
.user-review-rating-container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.user-review-rating-container>.bx{
  font-size: larger;
  color: var(--primary-color);
}
.user-review-rating-container>.user-reviewer-rating{
  font-size: 1.2rem;
}
.user-review-user-container strong{
  font-size: smaller;
}
.card-review-userinfo-container{
  display: flex;
  flex-direction: row;
  gap:5px;
  align-items: center;
  margin-right: 17px;
}
/* STYLES CARD DETAIL NOT MOBILE */

@media (min-width: 568px) {

  body {
    padding: 0px 5%;
  }

  .card-detail-content {
    padding: 20px;
    display: flex;
  }

  .card-detail-content-img {
  width: 45%;
  float: left;
  }

  .card-detail-content-description {
  width: 55%;
  float: left;
  padding: 0px 20px;
  margin: 0px;
  }

  .card-detail-header-buttons {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    margin-top: 10px;
  }

}

@media (max-width: 760px) {
  nav {
    width: 100%;
    height: 8vh;
    display: flex;
    position: fixed;
    bottom: 40px;
    align-items: center;
    z-index: 9999;
    background-color: var(--primary-gray);
    border-top: 0.1px solid #0040851a;
  }
}

@media (min-width: 770px) {
  body {
    padding: 0px 5%;
  }


  header {
    margin-top: 50px;
  }

  nav.scrolled#nav-bar{
    display: none;
  }

  nav#nav-menu {
    width: 100%;
    height: 7.3vh;
    background-color: var (--primary-white);
    border: 1px var (--seconday-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 1px solid #eaeaea;
  }

  .nav__item:last-child {
    /* margin-left: 8vw; */
  }

  #addbtn, #navbtn, #discoverbtn, #homebtn, #librarybtn, #loginbtn {
    display: none;
  }

  #user_logged {
    font-size: 13px;
  }

  .nav-logo {
    display: block;
    margin-left: 7vw;
  }

  .active-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav__list {
    gap: 13vw;
    justify-content: center;
    width: 90vw;
  }
  
  .nav__name {
    display: flex;
    font-size: 18px;
    font-weight: 200;
    margin-left: 0.4vw;
  }

  .nav__link_log {
    display: none;
  }
  
  .nav__link_go  {
    max-width: 100%;
    font-family: "DM Sans", sans-serif;
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    color: #000000de;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    padding: 5px;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #0000;
    border: 1px solid #bdbdbd;
  }

  img#profilebtn {
    width: 25px;
    height: 25px;
    border-radius: 20px;
  }

  .card-detail-content-img > a > img {
    width: 150%;
  }

  .card-detail-header-buttons {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 20px;
    width: 60%;
    margin-top: 10px;
  }

  .card-detail-content-img {
    width: 40%;
    float: left;
    }
  
    .card-detail-container-wrap{
      width: 100%;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 3%;
      margin-bottom: 5%;
    }

    .card-detail-content-description {
      width: 100%;
      float: left;
      padding: 0px 20px;
      margin: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    
}

/* STYLES FOR THE SMALL CARD CONTAINER */

.card-small-container-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 50px;
}

.card-small-container{
  background-color: var(--primary-white);
  border: 1px solid var(--primary-border-color);
  padding-top: 0px;
  border-radius: 8px;
  max-width: 400px;
  min-height: 440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  width: 90vw;
  margin-top: 20px;
  max-height:54vh;
  padding-bottom:20px;
  box-shadow: 0 2px 20px rgba(102, 102, 102, 0.2);
}

.card-small-field-container{
  min-width: 50px;
    padding: 8px;
    position: absolute;
    min-height: 20px;
    z-index: 1;
    top: 10px;
    right: 0;
    background-color: #f0f9ff;
    opacity: 0.7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-small-field{
  margin: 0;
  font-family: 'DM Sans',sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 1.5;
  font-weight: 500;
  color:var(--primary-black);
}
.card-small-img-container{
  width: 100%;
  position: relative;
  min-height: 160px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.card-small-img-span{
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-small-img-span > img {
  transition: transform .5s ease;
}

.card-small-img-span:hover > img {
  transform: scale(1.5);
}

#small-container-img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card-small-content-container{
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap:10px;
  padding:10px;
}
.card-small-content-textbox-container{
display: block;
}
.card-small-tool-anchor,.card-small-tool-anchor:hover,.card-small-tool-anchor:active{
  color: inherit;
    text-decoration: none
}

.card-small-content-header-container{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-direction: row;
  align-items: baseline;
}
.card-small-header-title{
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: left;
  width: 100%;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
  color:var(--primary-black)
}
.card-small-header-title>h3{
margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

.fav-count{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  margin-bottom: 0;
  font-size: 1.25rem;
}
.fav-count p{
margin-bottom: 0;
}
.fav-count p .bx-bookmark-heart{
font-size: 1.2rem;
}
.card-small-bx-bookmark-heart{
  color: gray;
  margin-right: 5px;
  stroke: currentcolor;
  fill: currentcolor;
  stroke-width: 0;
  color: grey;
  height: 20;
  width: 20;
}
.card-small-content-description{
  margin:0;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
  width: 90%;
  margin-top: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  height: 70px!important;
  overflow: hidden;
  -webkit-line-clamp: 3!important;
  display: -webkit-box!important;
  -webkit-box-orient: vertical!important;
  text-overflow: ellipsis!important;
  white-space: normal!important;
}

.card-small-user-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.card-small-user-container-details {
  display: flex;
  flex-direction: row;
}

.card-small-user-container img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.card-small-user-container-details-img{
  display: flex;
  flex-direction: row;
}
.card-small-user-info-container{
margin:0;
display: flex;
flex-direction: column;
}
.card-small-user-info-rating {
  display: flex;
  align-items: end;
}
.card-small-user-info-rating i{
  color: var(--primary-color);
}

.card-small-user-info-container h5{
  margin:0;
  font-size: 1.1rem;
}
.card-small-user-info-container p{
  font-size: 0.8rem;
}

.card-small-linkandfav-container{
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width:100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap:10px;
}
.card-small-link-btn,.card-small-fav-btn{
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.card-small-link-container, .card-small-fav-container{
  border-radius: 8px;
  width:100%;
  height:35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-small-link-container{
  border: 1 solid var(--primary-color);
  background-color: var(--primary-color);
  width:100%;
}
.card-small-link-container .bx-link-external{
  color:var(--primary-white);
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 1;
}
.card-small-fav-container{
  width: 100%;
   border: 1px solid var(--primary-color);
 }
 .card-small-fav-container .bx-bookmark-heart{
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 1;
}

/* UPLOAD IMAGE STYLES */
.card-small-container-wrap-list{
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-small-container-list {
  border: 1px solid var(--primary-border-color);
  padding-top: 0px;
  border-radius: 8px;
  max-width: 400px;
  min-height: 160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  width: 90vw;
  margin-top: 20px;
  height: 22vh;
  padding-bottom: 20px;
}

.card-small-container-list-name {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: -10px;
}

.card-small-img-container-list {
  width: 100%;
  position: relative;
  min-height: 100px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.card-small-content-container-list {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 10px;
  padding: 9px;
}

.card-small-linkandfav-container-list {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: center;
}

.card-small-link-container-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  width:75px;
}

.submit-btn-small-card {
  width: 100%;
  align-self: center;
  padding: -9px 6px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px; 
  text-decoration: none;
  color: var(--seconday-color);
  background: #0000;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--seconday-color);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-color);
}

.submit-btn-small-card > a{
  text-decoration: none;
}

.submit-btn-small-card:active {
  transform: scale(0.5);
}

.submit-btn-small-card:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0  var(--seconday-color);
  text-decoration: none;
}


/* AVATAR UPLOAD */

.personal-image {
  text-align: center;
}
.personal-image input[type="file"] {
  display: none;
}
.personal-figure {
  position: relative;
  width: 120px;
  height: 120px;
}
.personal-avatar {
  cursor: pointer;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}


/* CARD DETAIL STYLES */
#detail-card{
  text-align: center;
}
.btn-span {
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin-bottom: 50px;
}
#delete-tool-btn,#edit-tool-btn{
  margin-top: 30px;
  max-width: 500px;
  width:50%;
  padding: 5px 40px;
  width:100%;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--seconday-color);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 1px solid  var(--seconday-color);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -11px var(--primary-color);
}
#delete-tool-btn{
  background-color: var(--primary-red);
  box-shadow: 0px 10px 15px -11px var(--primary-red);
  border: 1px solid  var(--primary-red);
  color:var(--primary-white);
}
#delete-tool-btn:active, #edit-tool-btn:active{
  transform: scale(0.5);;
}

/* RANDOM RELATED TOOLS  */
.random-card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:10px;
}
.random-card {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  transition: 0.5s ease-in-out;
  margin: 2px 20px;
  width: clamp(90vw,90vw,50vw);
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--seconday-color);
  border-color: black;
  background-color: var(--primary-white);
  gap:10px;
}

.random-card:active {
  cursor: pointer;
  transform: scale(1.05);
}
.bx-info-circle,.bx-link-external{
  font-size: 1.4rem;
  opacity: 1;
}
.bx-link-external:hover, .bx-link-external:active,.bx-info-circle:hover,  .bx-info-circle:active{
  opacity: 1;
}
.random-img {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.random-img img {
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.random-card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.random-textBox {
  width: calc(100% - 90px);
  font-family: inherit;
}

.random-textContent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
}
.random-textContent .bx-link-external{
  color: var(--primary-color);
}
.random-span {
  font-size: 2rem;
  color: var(--primary-white);
}

.random-h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--seconday-color);
  text-decoration: none;
  line-height: 25px;
}
    
/* DISCOVER PAGE STYLES */
    
#discover-header{
  font-size: 4rem;
  width: 90vw;
  margin:0;
}
.advanced-search-form{
  transition: ease-out 0.5s;
}
.advanced-search-container{
  width:clamp(400px,90vw,800px);
  margin-bottom: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap:15px;
}
.advanced-search-bar-container{
  width:100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 border-radius: 10px;
 border:2px solid var(--primary-border-color);
 padding:10px 5px;
}
.advanced-search-bar-container:active{
border: 1px solid var(--primary-color);
}
.advanced-search-bar-container>input{
  width:90%;
  background: transparent;
  border: 0;
  outline: none;
}
.advanced-search-bar-container>button{
  border: 0;
  background-color: transparent;
}
.advanced-search-bar-container>button>i{
  font-size: 1.5rem;
  color: var(--primary-border-color)
}
.advanced-search-bar-container>button>i:focus{
  transform: scale(1.5);
  color: var(--primary-color);
}
.advanced-search-filterandsort-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap:var(--main-gap);
}
.advanced-search-filter-container,.advanced-search-sort-container{
  width:50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border:2px solid var(--primary-border-color);
  padding:10px 5px;
}
.advanced-search-filter-container{
  font-size: 1.2rem;
}
.advanced-search-applybutton:hover,.advanced-search-applybutton:active,.advanced-search-filter-container:active,.advanced-search-filter-container:hover{
  transform: scale(1.1);
  transition: 0.2s;

}
.advanced-search-filter-container i{
  font-size: 1.2rem;
}
.advanced-search-sort-container{
  display: flex;
  flex-direction: row;
  gap:5px;
  align-items:center;
}
.advanced-search-main-container{
  position: absolute;
  z-index: 99;
  background-color: var(--primary-white);
  width: 90vw !important;
  padding: 0;
  box-shadow: none;
  padding-left:10px;
  border-radius: 0;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
 padding-bottom: 80px;
}
@media (min-width: 769px) {
  .advanced-search-main-container{
    max-width: 50%;
  }
}
.advanced-search-field-container,.advanced-search-tag-container{
border-bottom: 1px solid var(--primary-border-color);
padding-bottom: 20px;
}
.advanced-search-applybutton{
  border-radius: 8px;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--seconday-color);
  color: var(--primary-white);
  margin:15px auto;
  margin-bottom: 30px;
}
.hidden{
 display:none;
}

.discover-field-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 90vw;
  border-radius: 0;
}
@media (min-width: 769px) {
  .discover-field-card-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }
}
.discover-field-card {
  height: 70px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.discover-field-card:active, .discover-field-card:hover{
  transform:scale(1.1);
  transition:0.2s;
  z-index: 99;
}
div.back-end{
  background: linear-gradient(to right, var(--primary-color), #4c58c6);
}
div.front-end{
  background: linear-gradient(to right, orange, #d3782d);
}
div.data-science{
  background: linear-gradient(to right, rgb(107, 220, 32), #1a9a5e);
}
div.ux-ui{
  background: linear-gradient(to right, rgb(196, 98, 224), #6b127f);
}
div.blockchain{
  background: linear-gradient(to right, rgb(189, 189, 189), #d29e9e);
}
div.productivity{
  background: linear-gradient(to right, rgb(55, 240, 209), #1f8e8c);
}
div.task-management{
  background: linear-gradient(to right, rgb(224, 204, 113), #fe483e);
}
div.cyber-security{
  background: linear-gradient(to right, rgb(225, 147, 236), #be18c6);
}
div.mobile-development{
  background: linear-gradient(to right, rgb(253, 161, 24), #ebbf73);
}
div.cloud-computing{
  background: linear-gradient(to right, rgb(129, 206, 230), #4646ca);
}
div.ai-machine-learning{
  background: linear-gradient(to right, #9ad26c, rgb(23, 187, 2));
}
div.devops{
  background: linear-gradient(to right, rgb(101, 227, 204), #05974e);
}
.discover-field-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
}

.discover-field-card-content p {
  margin: 0;
}

/* @media (max-width: 767px) {
  .discover-field-card {
    width: 100%;
    height: 16rem;
  }
}
  */

/* DETAIL CARDS CSS */
.detail-tool-image {
  margin-bottom: 35px;
}
.cards-wrapped-container{
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px 0 30px 0 ;
}
.list-add-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .cards-wrapped-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 130px;
  }

  .card-container {
    margin: 25px 30px;
    height: 37vh;
  }

}

/* NAV REFACTOR */
nav#nav-bar {
  width: 100%;
  height: 6.3vh;
  background-color: var (--primary-white);
  border: 1px var (--seconday-color);
  display: flex;
  justify-content: space-between;
  align-items: center;  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav#nav-bar > a{
margin-left: 15px;
}

nav#nav-bar > a:hover {
  text-decoration: none;
}

nav#nav-bar > a > h2{
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 100;
}


.card {
  overflow: auto;
}

.waves-effect {
  width: 100%;
}

.subheader {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0.75rem 16px;
}

.list-divider {
  border: 0;
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-right: 16px;
  margin-left: 75px;
}

.list-container-img {
  margin-top:35px;
  width: 115%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@use postcss-preset-env {
  stage: 0;
}
.listHeader{
  font-weight: 600;
  font-size: max(30px, min(12vw, 8vh)); 
  line-height:65px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400%;
  animation: move 15s ease infinite;
  background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 53.2%, rgb(186, 192, 242) 29.8%, 68.2%, rgb(41, 143, 237) 13.4% );
}

@keyframes move {
  0%,100%{
      background-position: 200% 0%;
  }

  50%{
      background-position: 0% 200%;
  }
}

.list-container-img, .UX{
  vertical-align: middle;
  border-style: none;
  width: 100vw;
  height: 150px;
}

.list {
  margin: 0;
}

.list li {
  padding: 0 20px;
}

.list li a {
margin-left: 15px;
}

.list li .valign-wrapper {
  min-height: 35px;
  align-items: end;
  width: 100%;
  margin-top: 15px;
}

.list li .valign-wrapper > a > h3 {
font-size: 20px;
display:flex;
}

.list li .valign-wrapper-row {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: baseline;
  margin-top: 15px;
}

.valign-wrapper-name {
  display: flex;
  width: 95%;
}

.valign-wrapper-name a {
  display: flex;
}

.valign-wrapper-name a > h3 {
  font-size: 20px;
}

.valign-wrapper-img {
  display: flex;
  align-self: baseline;
}

.valign-wrapper> .TaskBkg,.valign-wrapper>.DevOpsBkg,.valign-wrapper>.BackBkg,.valign-wrapper>.FrontBkg,.valign-wrapper>.DataBkg,.valign-wrapper>.UXBkg,.valign-wrapper>.BlockchainBkg,.valign-wrapper>.ProductivityBkg,.valign-wrapper>.CyberBkg,.valign-wrapper>.MobileBkg,.valign-wrapper>.CloudBkg,.valign-wrapper>.MachineBkg{
  vertical-align: middle;
  border-style: none;
  height: 20px;
  border-radius: 25px;
  width: 20px;
}

.list i.circle {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.26);
}

.list .title span {
  color: rgba(0, 0, 0, 0.54);
}

.ml-auto {
  margin-left: auto;
}

i.ml-auto {
  color: rgba(0, 0, 0, 0.26);
}

.valign-wrapper  {
display: flex;
}

.valign-wrapper > div.title  {
  
  }

  .list li .valign-wrapper-row > div.title {
  
  }

  /* RATING */

  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.8em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}
.voted ~ label { color: #FFD700;  }

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

